*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea

# Bitcoin wallets
/wallet-org.bitcoin.test.*

# Tor related files
/cached-microdescs.new
/consensus-microdesc
/state
/certificates

# Docker related files
Dockerfile
Dockerfile.input
